* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 70%;
    height: 75vh;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/* 
.content{
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    height: 70%;
    border-radius: 1rem;
    
} */

.left-box {
    /* background: rgba(255, 255, 255, 0.7); */
    border-top-left-radius: 1rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 1rem;
    /* backdrop-filter: blur(10px); */
    background: linear-gradient(to bottom right, #41A8A4 10%, #4289B4);
    padding: 1.6rem;
    /* filter: blur(8px); */
    width: 45%;
    position: relative;
    overflow: hidden;
}

.left-box h4 {
    color: white !;
}
.right-box {
    /* background: rgba(255, 255, 255, 0.7); */
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* backdrop-filter: blur(10px); */
    width: 55%;
    padding: 2.5rem 3.5rem;
    /* filter: blur(8px); */
}
.stats {
    font-size: 1.4rem;
    margin-right: 0.4rem;
}
.box {
   
    height: 100%;
    
}

.left-box-content {
    margin-top: 60px;
}

.card {
    margin: 1.3rem 0;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.card i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.promoted-icon {
    font-size: 1.2rem !important;
    margin-left: -23px;
    margin-top: -10px;
    color: #EFB643;
}

.app-container {
   /* width: 100%; */
   /* height: 80px; */
   /* background-color: #F5F0EC; */
   /* background-color: white; */
  display: flex;
   padding: 0.9rem;
   position: absolute;
   bottom: 10px;
   left: 10px;
   right: 1px;
}

.qr-img {
    width: 30%;
    background-color: white;
    border-radius: 10px;
}

img.qr {
    width: 100%;
}

.qr-content {
    width: 70%;
    padding: 0 0.8rem;
}

.qr-content i {
    cursor: pointer;
}

.qr-content p {
    font-size: 0.7rem;
    margin-top: 6px;
}

.app-screenshot {
  
    background-color: white;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
 }

 .app-wrapper {
    position: relative;
 }

 .app-screenshot i {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30%;
    left: 48%;
    /* display: inline-block;
   margin-left: 50%; */
    z-index: 2000;
    cursor: pointer;
 }

 .app-screenshot img {
    width: 100%;
 }